.nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    /* gap: 2rem; */
}
.nav{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.nav-bar{
    cursor: pointer;
    color: blue;
}
.b-1{
    border-radius: 2rem;
}
.nav-i-2{
    font-family: sans-serif;
    max-width: 30%;
    padding-left: 8rem;
}
.nav-i{
    display: flex;
    justify-content: center;
}
.nav-i-p{
    padding-left: 28rem;
    margin: -10rem;
}
.b-2{
    margin: 15rem;
    margin-left: 18rem;
    border-radius: 2rem;
    padding: 10px 10px 10px;
    color: white;
    background-color: black;
}
