*{
    margin: 0;
    padding: 0;
}
.heading{
    /* width: 100%; */
    color: aqua;
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    width: 95%;
    gap: 10px;
    margin: 10px auto;
}
input{
    flex: 1;
    padding: 15px;
    border-radius: 6px;
}
.btn{
    border: none;
    background-color: blue;
    width: 150px;
    border-radius: 8px;
    color: chartreuse;
    cursor: pointer;
}
.btn:hover{
    background-color: blueviolet;
}
#comp{
    width: 95%;
    margin: 10px auto;
    list-style: none;
}
.tar{
    background-color: yellow;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
span{
    flex: 1;
}
button{
    background-color: black;
    color: chartreuse;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.complete{
    text-decoration: line-through;
}